<!-- views/playlist.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>view playlist</title>
</head>
<body>

<main>


    <div class='playlist' style="padding-left: 30px;">
        <h1><span style="color:#fefefe">Hi <%= username %>,</span> select one of your favorite playlist!</h1>

        <form action="/get_tracks" method="POST">
            <% playlist.forEach(function(list) { %>
            <input type="radio" checked="checked" value=<%= list.name %> name="list"> <label><%= list.name %></label>
            <br><br>
            <% }); %>

            <input type="text" placeholder="New name for playlist(optional)" name="title"/><br>
            <input type="text" placeholder="Description(optional)" name="description"/>


            <input type="submit" value="Ready To Go"/>
        </form>

    </div>
</main>

<style>
    body {
        background: #282828; /* match border color */
        font-size: 20px;
    }

    h1 {
        margin-top: 30px;
        margin-bottom: 25px;
        font: 44px 'Arial Narrow', sans-serif;
        color: #dc006c;
    }

    input[type=submit] {
        display: block;
        margin: 25px 0;
        padding: 15px 36px;
        background: transparent;
        cursor: pointer;
        border: 2px solid #dc006c;
        border-radius: 5px;
        color: #fefefe;

    }

    input[type=submit]:hover {
        border: 2px solid #dc006c;
        border-radius: 5px;
        color: #dc006c;
    }

    label {
        color: #fefefe;
    }

    input[type=text], select {
        height: 30px;
        width: 300px;
        border: 1px solid #dc006c;
        margin-top: 5px;
        display: inline-block;
    }


</style>

<footer>

</footer>

</body>
</html>
