<!-- views/welcome.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to SpotifyY</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>

<main>


    <div style="text-align: center; padding-top: 2%;">


        <h1 class="logo">
            <span class="word1">Welcome</span>
            <span class="word2">To SpotifyY</span>
        </h1>

        <p>Lets convert your <span style="color:#fefefe" >Sotify</span> playlist into <span style="color:#fefefe" >YouTube</span> playlist</p>

        <input type="button" onclick="location.href='http://localhost:8080/auth/spotify';" value="Lets Begin"/>

    </div>
</main>

<footer>

</footer>

<style>
    body {
        background: #282828; /* match border color */
        text-align: center;
        font-size: 24px;
    }

    .logo {
        font: 84px 'Arial Narrow', sans-serif;
        color: #fefefe;
        text-transform: uppercase;
        letter-spacing: -4px;
    }

    /* stuff for both words */
    .logo span {
        position: relative;
    }

    .logo span:before,
    .logo span:after {
        content: '';
        position: absolute;
        border-width: 32px; /* makes a nice, big 64px square */
        border-style: solid;
        border-color: transparent;
        height: 0;
        z-index: 10;
    }

    /* stuff for 1st word */
    .logo .word1 {
        color: #dc006c;
        margin-right: -38px;
        display: inline-block; /* required for transform */
        z-index: 10; /* stack 1st word on top */
    }

    .logo .word1:before {
        left: -4px;
        top: -9px;
        border-top-color: #282828; /* match background color */
        border-left-color: #282828;
    }

    .logo .word1:after {
        right: 17px;
        bottom: -15px;
        border-bottom-color: #282828;
        border-right-color: #282828; /* would be right, but we flipped the word */
    }

    /* stuff for 2nd word */
    .logo .word2 {
        z-index: 0; /* stack 2nd word below */
    }

    .logo .word2:before {
        left: -4px;
        top: -6px;
        border-top-color: #282828;
        border-left-color: #282828;
    }

    .logo .word2:after {
        right: -4px;
        bottom: 4px;
        border-bottom-color: #282828;
        border-right-color: #282828;
    }


    p {
        margin-top: -20px;
        color: #dc006c;
        margin-bottom: 40px;
    }


    p:after {
        display: block;
        height: 2px;
        background-color: #bcbcbc;
        content: " ";
        width: 200px;
        margin: 0 auto; /*place content in middle*/
        margin-top: 50px;
        margin-bottom: 100px;
    }

    input[type=button] {
        font: 24px 'Arial Narrow', sans-serif;
        color: #fefefe;
        background: transparent;
        border: 0px;
        text-transform: uppercase;
        transition: border 0.5s;
    }

    input[type=button]:hover {
        padding-bottom: 10px;
        border-bottom: solid 3px #dc006c;
        cursor: pointer;
    }


</style>

</body>
</html>
